build
BartisUtilities.framework
BartisUtilities.xcworkspace/xcshareddata
BartisUtilities.xcworkspace/xcuserdata
BartisUtilities.xcworkspace
BartisUtilities.xcworkspace/xcuserdata/Alex.xcuserdatad
BartisUtilities.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
BartisUtilities.xcworkspace/xcuserdata/Alex.xcuserdatad/WorkspaceSettings.xcsettings
